

main {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 30px;
    
}

p {
    text-align: center;
    font-size: 200px;
}

div p {
    text-align: left;
}

span {
    font-weight: 700;
    font-size: 22px;
}

hr {
    max-width: 400px;
    margin: 50px auto;
}

